

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
       


@{
    ViewBag.Data = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}
<h1 class="text-danger">Error.</h1>
<h1 class="text-danger">
    @ViewBag.Data    <h2>dont have access to this page </h2>
</h1>