@model DBookingSysDemo.Models.BookingStatus

@{
    ViewData["Title"] = "EditStatus";
}

@*<h1>EditStatus</h1>

<h4>BookingStatus</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="BookingStatusId" class="control-label"></label>
                <input asp-for="BookingStatusId" class="form-control" />
                <span asp-validation-for="BookingStatusId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BookingId" class="control-label"></label>
                <input asp-for="BookingId" class="form-control" />
                <span asp-validation-for="BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUp" class="control-label"></label>
                <input asp-for="PickUp" class="form-control" />
                <span asp-validation-for="PickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package" class="control-label"></label>
                <input asp-for="Package" class="form-control" />
                <span asp-validation-for="Package" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BTime" class="control-label"></label>
                <input asp-for="BTime" class="form-control" />
                <span asp-validation-for="BTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DExecutive" class="control-label"></label>
                <input asp-for="DExecutive" class="form-control" />
                <span asp-validation-for="DExecutive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCity" class="control-label"></label>
                <input asp-for="FromCity" class="form-control" />
                <span asp-validation-for="FromCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToCity" class="control-label"></label>
                <input asp-for="ToCity" class="form-control" />
                <span asp-validation-for="ToCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

